<ion-view view-title="PACKSTATION">
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          <i class="icon ion-person"></i>
          Set Packer
        </div>
        <select ng-options="p.packerID as p.packerName for p in vm.packers" ng-model="vm.packer" ng-change="vm.setPacker(vm.packer)"></select>
      </label>
      <div class="item" ng-click="vm.scanPacker($event)">
        <i class="ion-ios-barcode-outline"></i>
        Scan Packer Bar Code
      </div>

      <div class="item" ng-if="vm.packer">
        <button type="button" class="button button-stable" ng-click="vm.requestDN()" style="width: 50%">
          <i class="ion-document-text" style="font-size: 36pt;"></i>
          <br />
          Request D/N
        </button>
        <button type="button" class="button button-stable" ng-click="vm.scanDN()" style="width: 50%">
          <i class="ion-ios-barcode-outline" style="font-size: 36pt;"></i>
          <br />
          Scan D/N
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>
