<ion-view view-title="PACKSTATION">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Set Packer
        </div>
        <select ng-options="v.id as v.name for v in vm.packers" ng-model="vm.packer" ng-change="vm.setPacker(vm.packer)"></select>
      </label>

    </div>

      <!--
      <div class="card" ng-if="vm.isLoggedIn()">
          <div class="item item-divider">
              Set Packer
          </div>
          <div class="list">
              <div class="item item-input-inset">
                  <label class="item-input-wrapper">
                      <input type="text" placeholder="packer" ng-model="vm.packer">
                  </label>
                  <button class="button button-small" ng-click="vm.login()">login</button>
              </div>
          </div>
      </div>

      <div class="padding" ng-if="!vm.isLoggedIn()">
        <ion-spinner icon="spiral"></ion-spinner>
        Logging into the network...
      </div>
      -->
  </ion-content>
</ion-view>
